## Import Python Packages

In [56]:
import numpy as np # linear algebra
import pandas as pd # pandas for dataframe based data processing and CSV file I/O
import requests # for http requests
import bs4
from bs4 import BeautifulSoup # for html parsing and scraping

## Necessary Functions

1.) Aşağıdaki fonksiyon gelen string değerlerini float() fonksiyonu ile string değerlerini float değerlere dönüştürür. İçeri verdiğimiz string değerlerinden borsa sitelerinde sayıları ve oranları ifade ederken kullanılan (% . ,) işaretlerini düzenledik.

In [57]:
def string_to_float(string):
    if string is None:
        return np.nan
    if type(string)==float or type(string)==np.float64:
        return string
    if type(string)==int or type(string)==np.int64:
        return string
    str = string.split(" ")[0].replace('.','').replace(',','.').replace('%','');
    return float(str)

2.) String değerlerinden oluşan diziyi float değerlerinden oluşan diziye çevirir.

In [58]:
def float_list(string_list):
    return list(map(string_to_float,string_list))

In [59]:
3.) Aşağıdaki fonksiyon gelen string değerlerindeki birden fazla olan boşlukları kaldırır.

SyntaxError: unmatched ')' (Temp/ipykernel_1752/3211912021.py, line 1)

In [60]:
def remove_multiple_spaces(string):
    if type(string)==str:
        return ' '.join(string.split())
    return string

## Making Http Requests in Python

In [61]:
def get_table_simple(table,is_table_tag=True):
    elems = table.find_all('tr') if is_table_tag else get_children(table)
    table_data = list()
    for row in elems:
        row_data = list()
        row_elems = get_children(row)
        for elem in row_elems:
            text = elem.text.strip().replace("\n","")
            text = remove_multiple_spaces(text)
            if len(text)==0:
                continue
            row_data.append(text)
        table_data.append(row_data)
    return table_data

In [62]:
def get_children(html_content):
    return [item for item in html_content.children if type(item)==bs4.element.Tag or len(str(item).replace("\n","").strip())>0]

In [74]:
url = 'https://bigpara.hurriyet.com.tr/borsa/canli-borsa/'
tag, attr, value = 'table','id','markets_top' # Burada most unique outer tag girelim.

response = requests.get(url, timeout=2400)
content = BeautifulSoup(response.content, "html.parser")
content = content.find("div",attrs={'id':'sortable'})
# HTML(str(content))
result_list = get_table_simple(content, is_table_tag=False)

In [75]:
df = pd.DataFrame(result_list)
df = df.set_index(0)
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,,,,,,,,,,,,,,
AEFES,"29,04","29,04","29,08","29,48","29,04","29,21","-0,14","29,08","-0,04","26,14","31,94",882.104,25.762.828,17:59:38
AFYON,"3,42","3,41","3,42","3,43","3,38","3,40",0,"3,42","0,00","3,08","3,76",4.996.941,17.005.830,18:09:13
AKBNK,"8,04","8,04","8,05","8,04","7,80","7,94",0,"8,04","0,00","7,24","8,84",160.333.213,1.272.830.804,18:09:57
AKENR,"1,61","1,60","1,61","1,63","1,59","1,61","-0,62","1,62","-0,01","1,45","1,77",1.818.535,2.924.447,17:59:37
AKSA,"32,04","32,04","32,06","32,48","30,90","31,77",0,"32,04","0,00","28,84","35,24",1.956.028,62.148.835,18:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VESTL,"24,18","24,18","24,20","24,64","24,18","24,37",0,"24,18","0,00","21,78","26,58",3.091.680,75.354.349,18:08:01
VKGYO,"1,72","1,72","1,73","1,74","1,70","1,72",0,"1,72","0,00","1,55","1,89",10.400.116,17.892.902,18:05:08
YATAS,"11,43","11,42","11,43","11,58","11,34","11,44","0,35","11,39","0,04","10,29","12,57",830.105,9.493.528,18:09:06
YKBNK,"4,08","4,08","4,09","4,09","4,00","4,05","2,51","3,98","0,10","3,68","4,48",289.717.183,1.172.801.195,18:08:45
ZOREN,"1,70","1,70","1,71","1,73","1,69","1,71","0,59","1,69","0,01","1,53","1,87",32.651.456,55.834.627,17:59:13

In [76]:
# !!! konumu değiştirmelisin
df.to_csv('C:/Users/mert4/Desktop/Mert_Yuksek2.csv')